# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    commit-message:
      prefix: deps
    directory: '/' # Location of package manifests
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: '@types/node'
        versions:
          - '>= 22' # until 22 is lts

    groups:
      eslint:
        applies-to: version-updates
        patterns:
          - 'eslint*'
          - 'prettier*'
          - 'stylelint*'
          - 'postcss*'
          - '@typescript-eslint/*'
          - 'lint-staged'
          - '@types/eslint'

      typescript:
        applies-to: version-updates
        patterns:
          - '@types/*'
          - 'typescript'
        exclude-patterns:
          - '@types/react*'
          - '@types/node'
          - '@types/eslint'

  - package-ecosystem: github-actions
    commit-message:
      prefix: 'ci'
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
